

@media only screen and (max-width: 1300px)

  .container
    width: 850px
  .header .top-line__menu
    display: none
  .top-line__menu
    display: none

  .top-line__logo
    width: 25%
  .top-line__phone
    width: 22%
  .top-line__action
    width: 25%
  .top-line__cart
    width: 14%
    border-right: 1px solid rgba(0,0,0,.1)
  .top-line__mmenu
    width: 14%
    display: flex
    color: $accent
    text-decoration: none
    &_text
      font-size: 14px
      margin-left: 10px
  .header__content
    margin-top: 160px
  .actions__container
    flex-wrap: wrap
    .actions__left
      width: 45%
      margin-right: 5%
    .actions__center
      width: 50%
      margin-right: 0
      &_item
        text-align: right
    .actions__right
      width: 100%
      display: flex
      align-items: center
      align-content: center
      margin-top: 5%
      justify-content: space-between
      &_item
        margin-bottom: 0
  .about__img
    width: 40%
    margin-right: 5%
  .about__content
    width: 55%
  .about__container
    margin-bottom: 50px
  .partners__content
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 20px
  .home-callback__checkbox
    width: 100%
    justify-content: center
  .destributers__map
    height: 500px
  .newsletter
    width: 100%
  .page-categories__categories
    grid-template-columns: repeat(4, 1fr)
  .advantages__container
    grid-template-columns: repeat(2, 1fr)
  .product-product__container_top
    width: 100%
  .product-category__left
    display: none
  .product-category__content
    width: 100%
  .product-product__action
    display: block
  .product-product__wishlist
    margin-left: 0
    margin-top: 15px
  .account-wishlist__products
    grid-template-columns: repeat(2, 1fr)
  .product-search__products
    grid-template-columns: repeat(2, 1fr)

@media only screen and (max-width: 900px)

  .container
    width: 100%
    padding: 0 30px
  .top-line__phone
    display: none
  .top-line__logo
    width: 34%
  .top-line__action
    width: 30%
  .top-line__cart
    width: 18%
  .top-line__mmenu
    width: 18%
  .header
    background-image: url('../image/dest/header-mob.png')
  .header__content
    width: 100%
    margin-right: 0
    text-align: center
  .actions__container
    display: block
    .actions__row
      width: 100%
      display: flex
      justify-content: center
      flex-direction: column
    .actions__item
      display: inline-block
      margin-bottom: 30px
      text-align: center
  .about__container
    display: block
  .about__content
    width: 100%
  .about__img
    width: 50%
    margin-right: 0
  .production__container
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    align-content: flex-start
  .production__content
    margin-right: 0
    width: 100%
    order: 2
  .home-callback__form
    width: 100%
  .home-callback__areas
    display: block
  .home-callback__form_col
    margin-right: 0
    width: 100%
  .home-callback__action
    margin-top: 60px
  .destributers__map
    height: 300px
  .footer
    background-color: #5386d9
    padding-top: 80px
  .newsletter
    position: static
    transform: none
    left: auto
    top: auto
  .footer__content
    padding-top: 80px
  .footer__container
    flex-wrap: wrap
  .footer__logo
    width: 25%
    margin-bottom: 50px
  .footer__menu
    width: 60%
    margin-right: 0
  .footer__contact
    width: 40%
  .footer__social
    width: 40%
  .newsletter__title
    font-size: 26px
  .newsletter__desc
    width: 100%
    font-size: 16px
  .newsletter
    padding: 30px 60px 60px
  .destributers
    margin-bottom: 60px
  .page-categories__categories
    grid-template-columns: repeat(3, 1fr)
  .pages-header
    background-image: url('../image/dest/deep-page-header-mob.png')
  .page-delivery__content
    display: block
    &_side
      width: 100%
      margin-right: 0
  .page-contact .contact
    padding-top: 60px
  .page-contact .contact__container
    display: block
  .page-contact .contact__items
    width: 100%
  .page-contact .contact__map
    width: 100%
  .product-category__products
    grid-template-columns: repeat(2, 1fr)
  .product-product__container_top
    flex-wrap: wrap
  .product-product__left
    width: 100%
    margin-right: 0
  .product-product__content
    width: 100%
  .product-product__title-mob
    display: block
    font-family: $lugatype
    font-size: 40px
    margin-top: 0
    margin-bottom: 35px
  .product-product__title
    display: none
  .authForm
    width: 80%



@media only screen and (max-width: 650px)

  .top-line__container
    padding: 0
  .top-line__logo
    width: 20%
    &_link
      position: static
      height: 55px
      display: flex
      align-items: center
      align-content: center
      justify-content: center
      img
        max-height: 45px
  .top-line__action
    width: 44%

  .top-line__cart
    width: 18%
  .top-line__mmenu
    width: 18%
    &_text
      display: none
  .hits__grid:before
    width: 50px
    height: 225px
  .hits__title
    font-size: 36px
  .about__bulits
    display: block
  .about__bulit
    margin-right: 0
    margin-bottom: 60px
  .partners__content
    grid-template-columns: repeat(2, 1fr)
  .destributers__title
    font-size: 36px
  .destributers__desc
    width: 100%
  .destributers__map
    height: 200px
  .footer__logo
    width: 100%
    margin-bottom: 30px
  .footer__menu
    width: 100%
    margin-right: 0
    margin-bottom: 50px
    display: block
    ul
      margin-bottom: 20px
      &:last-child
        margin-bottom: 0
  .footer__contact
    width: 100%
    margin-bottom: 30px
  .footer__social
    width: 100%
    margin-bottom: 30px
  .newsletter__form_input
    position: static
    height: 60px
  .newsletter__form
    text-align: center
  .newsletter__form .button
    position: static
    transform: none
    top: auto
    left: auto
    margin-top: 30px
    height: 60px
    display: inline-block
  .newsletter .form-group
    height: auto
  .newsletter
    padding: 50px 20px 50px
  .page-categories__categories
    grid-template-columns: repeat(2, 1fr)
  .information-page
    .about
      padding-top: 40px
    .advantages
      margin-top: 40px
      padding: 200px 0
  .account-wishlist__products
    grid-template-columns: repeat(1, 1fr)
  .product-search__products
    grid-template-columns: repeat(1, 1fr)
  .product-search__input
    width: 100%
    margin-right: 0
    margin-bottom: 20px
  .product-search__field
    flex-wrap: wrap
  .authForm
    width: 100%



@media only screen and (max-width: 500px)

  .hits__title:before, .hits__title:after
    display: none
  .partners__title:before, .partners__title:after
    display: none
  .page-categories__categories
    grid-gap: 10px
  .product-category__products
    grid-template-columns: repeat(1, 1fr)




